.login {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../../../../public/images/auth-bg-landing.png");
  background-size: cover;
}

.login__landing {
  width: 50%;
  background-image: url("../../../../public/images/auth-bg-landing.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 52px;
}

.login__landing img {
  width: 160px;
  margin-left: 71px;
}

.login__landing-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  justify-content: center;
  margin-inline: auto;
  margin-top: -14%;
}

.login__landing-container span {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  color: #e6d7ad;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login__landing-container div {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e6d6ac;
}

.login__container {
  background: #ffffff;
  width: 50%;
  /* Widget box style */

  border-left: 1px solid #9fd0bd;
  border-radius: 6px 0px 0px 6px;
  padding: 30px 36px 30px 102px;
  display: flex;
  flex-direction: column;
  gap: 66px;
}

.login__box {
  display: flex;
  flex-direction: column;
  padding-right: 66px;
}

.login__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #408f94;
}

.btns-container {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  align-items: center;
  margin-top: 14px;
  border: 1px solid #9fd0bd;
}

.btns-container.active {
  background: linear-gradient(180deg, #9fd0bd 0%, #409094 100%);
}

.btns-container div {
  outline: none;
  border: none;
  border-radius: 10px;
  height: 34px;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #005f73;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btns-container div:first-of-type {
  background: #ffffff;
  border: 1px solid #9fd0bd;
  border-radius: 10px;
  color: #005f73;
}

.btns-container div:first-of-type.active {
  background: linear-gradient(180deg, #9fd0bc 0%, #409094 100%);
  border-radius: 10px;
  color: white;
}

.btns-container div:last-of-type.active {
  background: linear-gradient(180deg, #9fd0bd 0%, #409094 100%);
  color: white;
}

.google-btn {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  padding: 8px 13px;
  gap: 13px;
  height: 40px;
  width: 220px;
  margin-top: 32px;
  cursor: pointer;
}

.google-continue {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #a1a1a1;
  margin-bottom: -2px;
}

.login__or {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a1a1a1;
  margin-block: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.login__fields {
  display: flex;
  flex-direction: column;
}

.login__fields input {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a1a1a1;
  padding: 13px 2px;
  padding-top: 16px;
}

.login__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: linear-gradient(180deg, #9fd0bd 0%, #409094 100%);
  border-radius: 10px;
  height: 34px;
  margin-top: 32px;
}

.login__already {
  text-align: center;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #a1a1a1;
  margin-top: 16px;
}

.login__already span {
  color: #8bb3b3;
  cursor: pointer;
}

.login__forgot-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.login__checkbox {
  display: flex;
  align-items: center;
}

.login__remember {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-left: -4px;
  color: #a1a1a1;
}

.login__forgot {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #8bb2b2;
  cursor: pointer;
}

.mobile-footer {
  display: none;
  flex-direction: column;
  gap: 11px;
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.footer-link {
  width: 22px;
  height: 22px;
  display: flex;
}

.footer-link img {
  max-width: 100%;
  max-height: 100%;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  color: #94D2BD
}

@media only screen and (max-width: 525px) {
  .login__landing {
    display: none;
  }

  .login__container {
    width: 100%;
  }

  .login__container {
    padding: 30px 33px 30px;
  }

  .login__box {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-footer {
    display: flex;
  }
}