/* .login {
  display: flex;
  background: linear-gradient(90.47deg, #005f73 0.39%, #ffffff 58.67%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0px 150px;
}

.login-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #ffffff;
  border-radius: 30px 0px 0px 30px;
  padding: 125px 160px 68px 160px;
  gap: 33px;
}

.create-account-label {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #005f73;
}

.btns-container {
  display: flex;
  width: 100%;
  background: linear-gradient(180deg, #005f73 0%, #0a9396 100%);
  border-radius: 10px;
  align-items: center;
}

.btn {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.active {
  background: #ffffff;
  border: 1px solid #005f73;
  border-radius: 10px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #005f73;
}

.btns-container div {
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  flex: 1;
  width: 100%;
  justify-content: center;
  height: 34px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.btns-container div.active {
  color: #005f73;
  background: #ffffff;
  border-radius: 10px;
  border-color: #005f73;
}

.google-btn {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  padding: 11px;
  gap: 13px;
  width: 220px;
  cursor: pointer;
}

.google-continue {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #a1a1a1;
}

.content-seperation {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #a1a1a1;
  align-self: center;
  padding: 0 36px;
}



.login-fields {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

input {
  border: none;
  border-bottom: 1px solid #e8e8e8;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #a1a1a1;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.login-btn {
  width: 100%;
  background: linear-gradient(180deg, #005f73 0%, #0a9396 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  border: none;
}

.login-btn span {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  padding: 14px 0px;
}

.existing-account {
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a1a1a1;
}

.existing-account span:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.existing-account span {
  color: #8bb2b2;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.forgot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.login {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../../../../public/images/bg-landing.png");
  background-size: cover;
}

.login__landing {
  width: 50%;
  background-image: url("../../../../public/images/bg-landing.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-top: 52px;
}

.login__landing img {
  width: 160px;
  margin-left: 71px;
}

.login__landing-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  justify-content: center;
  margin-inline: auto;
  margin-top: -14%;
}

.login__landing-container span {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 44px;
  line-height: 52px;
  color: #e6d7ad;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login__landing-container div {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #e6d6ac;
}

.login__container {
  background: #ffffff;
  width: 50%;
  /* Widget box style */

  border-left: 1px solid #9fd0bd;
  border-radius: 6px 0px 0px 6px;
  padding: 30px 36px 30px 102px;
  display: flex;
  flex-direction: column;
  gap: 66px;
}

.login__box {
  display: flex;
  flex-direction: column;
  padding-right: 66px;
}

.login__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #408f94;
}

.btns-container {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  align-items: center;
  margin-top: 14px;
  border: 1px solid #9fd0bd;
}

.btns-container.active {
  background: linear-gradient(180deg, #9fd0bd 0%, #409094 100%);
}

.btns-container div {
  outline: none;
  border: none;
  border-radius: 10px;
  height: 34px;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #005f73;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btns-container div:first-of-type {
  background: #ffffff;
  border: 1px solid #9fd0bd;
  border-radius: 10px;
  color: #005f73;
}

.btns-container div:first-of-type.active {
  background: linear-gradient(180deg, #9fd0bc 0%, #409094 100%);
  border-radius: 10px;
  color: white;
}
.btns-container div:last-of-type.active {
  background: linear-gradient(180deg, #9fd0bd 0%, #409094 100%);
  color: white;
}

.google-btn {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  padding: 8px 13px;
  gap: 13px;
  height: 40px;
  width: 220px;
  margin-top: 32px;
  cursor: pointer;
}

.google-continue {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #a1a1a1;
  margin-bottom: -2px;
}

.login__or {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a1a1a1;
  margin-block: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.login__fields {
  display: flex;
  flex-direction: column;
}
.login__fields input {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #a1a1a1;
  padding: 13px 2px;
  padding-top: 16px;
}

.login__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #ffffff;
  background: linear-gradient(180deg, #9fd0bd 0%, #409094 100%);
  border-radius: 10px;
  height: 34px;
  margin-top: 32px;
}

.login__already {
  text-align: center;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #a1a1a1;
  margin-top: 16px;
}

.login__already span {
  color: #8bb3b3;
  cursor: pointer;
}

.login__forgot-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.login__checkbox {
  display: flex;
  align-items: center;
}

.login__remember {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-left: -4px;
  color: #a1a1a1;
}

.login__forgot {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #8bb2b2;
  cursor: pointer;
}
