.pagination-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 10px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.pagination-panel .pagination-box {
  color: rgba(202, 103, 2, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25px;
  height: 22px;
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.pagination-panel .pagination-box.disabled {
  color: rgba(202, 103, 2, 0.4);
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
}

.pagination-panel .pagination-box:hover,
.pagination-panel .pagination-box.active-page {
  color: #BB3E03;
}