.modal-outer-container {
  background: rgba(217, 217, 217, 0.3);
  height: 100vh;
}

.modal-container {
  width: 519px;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border: 1px solid #dee2e6;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 30px 30px 17px 30px;
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #005f73;
}

.google-login {
  display: flex;
  justify-content: center;
}

.signup-modal {
  margin: 26px 0px 33px 0px;
}

.login-modal {
  margin: 24px 0px 26px 0px;
}

.forgot-password-modal {
  margin: 30px 0px;
}

.reset-modal {
  margin: 30px 0px;
}

.modal-content-seperation {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #a1a1a1;
}

.form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 25px 0px 28px 0px;
  gap: 18px;
}

.modal-button {
  background: linear-gradient(180deg, #9fd0bd 0%, #409094 100%);
  border-radius: 10px;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.modal-button .modal-button-text {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.existing-modal-account {
  margin: 13px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a1a1a1;
  display: flex;
  justify-content: center;
}

.existing-modal-account span {
  cursor: pointer;
  color: #8bb3b3;
}

.existing-account {
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #a1a1a1;
}

.existing-account span:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.existing-account span {
  color: #8bb2b2;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.forgot-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 16px;
}

.login-form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 39px 0px 15px 0px;
  gap: 18px;
}

.forgot-password-form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0px;
}

.reset-form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0px;
  gap: 18px;
}

@media only screen and (max-width: 650px) {
  .modal-container {
    width: calc(100% - 64px);
  }
}
@media only screen and (max-width: 450px) {
  .modal-container {
    width: calc(100% - 32px);
  }
}
