.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/images/home-page.png");
  background-size: cover;
}

.landing-page-wrapper-container {
  padding: 45px 45px 0px 45px;
}

.landing-page-wrapper .landing-page-bg_image {
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: #041416;
}

.landing-page-wrapper .landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.landing-page-wrapper .landing-page-container .landing-page-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-logo {
  width: 212px;
  height: 81px;
  display: flex;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 56px;
}
.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-menu {
  display: flex;
  flex-direction: row;
  gap: 28px;
}
.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-menu
  .landing-page-menu-items {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #e9d8a6;
  text-transform: uppercase;
  cursor: pointer;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-menu
  .landing-page-menu-items.btn-item {
  padding: 10px 20px;
  border-radius: 30px;
  color: black;
  background: #e5d7ad;
  pointer-events: all;
  user-select: all;
  font-weight: 700;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-socials-item {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-socials-item
  img {
  width: 100%;
  height: 100%;
}
.landing-page-wrapper .landing-page-body {
  margin-left: 45px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 635px;
}

.landing-page-wrapper .landing-page-body .landing-page-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #E9D8A6;
}
.landing-page-wrapper .landing-page-body .landing-page-subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #E5D5A5;
  margin-top: 7px;
}

.landing-content-container-gradient {
  background-image: url("../../../public/images/glass-image.svg");
  padding: 31px 45px 32px 35px;
  border-radius: 50px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  background-size: cover;
}

.login-signup {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #041416;
  background: #e5d7ad;
  border: 1px solid #b6e6ad;
  border-radius: 20px;
  padding: 9px 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.landing-page-workBtn {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  text-transform: capitalize;
  color: #E9D8A6;
}

.landing-page-steps-item-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  color: #E9D8A6;
  margin-bottom: 15px;
}

.landing-page-steps-item-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E9D8A6;
}

.landing-page-steps-item-text p:last-child {
  margin-bottom: 0;
}

.landing-page-steps-wrapper {
  margin-top: 67px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.landing-page-steps-wrapper .landing-page-single-steps {
}

.landing-page-steps-item {
  width: 100%;
  height: 276px;
  flex-grow: 3;
  border-radius: 150px;
  position: relative;
}

.landing-page-steps-row {
  display: flex;
  gap: 37px;
}

.landing-page-steps-item.steps-item-1 .landing-page-steps-item-content {
  max-width: 579px;
  margin-left: auto;
}

.landing-page-steps-item.steps-item-4 .landing-page-steps-item-content {
  max-width: 605px;
  margin-right: auto;
}

.landing-page-steps-item.steps-item-1 {
  background: linear-gradient(180deg, rgba(231, 215, 167, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
  border-radius: 0 150px 150px 0;
  width: 53.688%;
  padding: 41px 128px 38px 80px;
}

.landing-page-steps-item.steps-item-2 {
  background: linear-gradient(180.01deg, rgba(238, 155, 0, 0.75) 0.01%, rgba(238, 155, 0, 0) 133.07%);
  border-radius: 150px 0 0 150px;
  width: 42.786%;
}

.landing-page-steps-item.steps-item-3 {
  background: linear-gradient(180.01deg, rgba(238, 155, 0, 0.75) 0.01%, rgba(238, 155, 0, 0) 133.07%);
  border-radius: 0 150px 150px 0;
  width: 20.389%;
}

.landing-page-steps-item.steps-item-4 {
  background: linear-gradient(180deg, #BB3E03 -12.86%, rgba(187, 62, 3, 0) 100%);
  border-radius: 150px;
  width: 66.111%;
  padding: 41px 80px 38px 267px;
}

.landing-page-steps-wrapper
  .landing-page-single-steps
  .landing-page-step-number-circle {
  border: 2.5px solid #e6d7ad;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.landing-page-steps-wrapper
  .landing-page-single-steps
  .landing-page-step-number-circle
  .landing-page-step-number-text {
  width: 100%;
  color: #e6d7ad;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.landing-page-steps-wrapper .landing-page-single-steps .landing-page-step-text {
  max-width: 212px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #e9d8a6;
}

.landing-page-detailed-content {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e5d5a5;
}

.landing-page-detailed-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 32px;
}

.detailed-list-item-1::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 16px;
  background: url("../../../public/images/list-mark-1.svg");
  background-size: 100% 100%;
  left: 0;
  top: 10px;
}

.detailed-list-item-2::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 16px;
  background: url("../../../public/images/list-mark-2.svg");
  background-size: 100% 100%;
  left: 0;
  top: 10px;
}

.detailed-list-item-3::before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 16px;
  background: url("../../../public/images/list-mark-3.svg");
  background-size: 100% 100%;
  left: 0;
  top: 10px;
}

.for-landing-content-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 32px;
  width: max-content;
}

.landing-content-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 82px;
  width: 100%;
}

.landing-content-container img {
  width: 451px;
  height: 502px;
}

.how-it-works-container-landing {
  margin-top: 106px;
}

.landing-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
  margin-top: 66px;
}

.landing-photo {
  margin-left: 125px;
  margin-top: -150px;
}

.landing-footer-text-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.landing-footer-img-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.landing-footer-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  color: #94d2bd;
  cursor: pointer;
}

.landing-menu {
  display: none;
}

.responsive-menu {
  display: none;
}

.landing-page-detailed-content-list {
  margin-top: 24px;
}

.landing-page-detailed-content-item {
  padding-left: 33px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #E5D5A5;
  position: relative;
}

@media only screen and (max-width: 1060px) {
  .landing-page-wrapper .landing-page-bg_image img {
    object-fit: cover;
  }
  .landing-page-wrapper .landing-page-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 525px) {
  .landing-page-wrapper .landing-page-body .landing-page-steps-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 440px) {
  .landing-page-wrapper .landing-page-bg_image {
    width: auto;
    background-color: #041416;
  }

  .landing-union {
    display: none;
  }
  .landing-page-wrapper {
    padding: 13px;
    background-color: #041416;
    width: auto;
  }

  .landing-page-wrapper
    .landing-page-container
    .landing-page-navbar
    .landing-page-menu-header {
    display: none;
  }

  .landing-content-container-gradient {
    padding: 19px 25px 41px 25px;
  }

  .landing-page-wrapper .landing-page-body .landing-page-title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
    color: #e9d8a6;
  }

  .landing-page-wrapper .landing-page-body {
    margin: 30px 0px 0px 18px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
  }

  .landing-page-wrapper .landing-page-body .landing-page-subtitle {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #e9d8a6;
  }

  .landing-page-detailed-content {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #e5d5a5;
  }

  .landing-page-detailed-content-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 22px;
  }

  .landing-content-container {
    margin: 0px;
  }

  .for-landing-content-btn-container {
    gap: 20px;
    margin-top: 27px;
    justify-content: flex-start;
  }

  .how-it-works-container-landing {
    padding: 21px 43px 60px 43px;
  }

  .landing-footer-text-container {
    display: none;
  }

  .landing-page-steps-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
    margin: 18px 0px 0px 0px;
  }

  .landing-menu {
    display: block;
    position: absolute;
    left: 13.53%;
    right: 11.84%;
    top: 11.34%;
    bottom: 58.72%;
    height: fit-content;
    background: #001219;
    border: 1px solid #e9d8a6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }

  .landing-menu-option {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #e9d8a6;
  }

  .landing-menu-img {
    height: 20px;
    width: 20px;
  }

  .landing-menu-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }

  .responsive-menu {
    display: block;
  }

  .landing-menu-option-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
  }
}
