.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 45px 45px 0px 45px;
  background-color: #041416;
}

.landing-page-wrapper .landing-page-bg_image {
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: #041416;
}

.landing-page-wrapper .landing-page-container {
  display: flex;
  flex-direction: column;
}
.landing-page-wrapper .landing-page-container .landing-page-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-logo {
  width: 160px;
  height: 60px;
  display: flex;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 56px;
}
.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-menu {
  display: flex;
  flex-direction: row;
  gap: 28px;
}
.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-menu
  .landing-page-menu-items {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #e9d8a6;
  text-transform: uppercase;
  cursor: pointer;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-menu
  .landing-page-menu-items.btn-item {
  padding: 10px 20px;
  border-radius: 30px;
  color: black;
  background: #e5d7ad;
  pointer-events: all;
  user-select: all;
  font-weight: 700;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-socials-item {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page-wrapper
  .landing-page-container
  .landing-page-navbar
  .landing-page-menu-header
  .landing-page-socials-item
  img {
  width: 100%;
  height: 100%;
}
.landing-page-wrapper .landing-page-body {
  margin-left: 67px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5%;
  max-width: 645px;
}

.landing-page-wrapper .landing-page-body .landing-page-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  text-transform: capitalize;
  color: #e9d8a6;
}
.landing-page-wrapper .landing-page-body .landing-page-subtitle {
  font-family: "Raleway";
  margin-top: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;

  color: #e9d8a6;
}

.landing-content-container-gradient {
  background-image: url("../../../public/images/glass-image.svg");
  padding: 31px 45px 0px 35px;
  border-radius: 50px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  background-size: cover;
}

.login-signup {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #041416;
  background: #e5d7ad;
  border: 1px solid #b6e6ad;
  border-radius: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.landing-page-workBtn {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #e5d5a5;
}

.landing-page-steps-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 65px;
  margin-top: 19px;
}

.landing-page-steps-wrapper .landing-page-single-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.landing-page-steps-wrapper
  .landing-page-single-steps
  .landing-page-step-number-circle {
  border: 2.5px solid #e6d7ad;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.landing-page-steps-wrapper
  .landing-page-single-steps
  .landing-page-step-number-circle
  .landing-page-step-number-text {
  width: 100%;
  color: #e6d7ad;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.landing-page-steps-wrapper .landing-page-single-steps .landing-page-step-text {
  max-width: 212px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #e9d8a6;
}

.landing-page-detailed-content {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #e5d5a5;
}

.landing-page-detailed-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 32px;
}

.for-brands-btn {
  background: linear-gradient(
    116.82deg,
    #001219 0%,
    #bb3e03 5.21%,
    #ee9b00 100%
  );
  border: 1px solid #e9d8a6;
  border-radius: 20px;
  height: 34px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.for-creators-btn {
  background: linear-gradient(
    116.82deg,
    #001219 0%,
    #0a9396 6.25%,
    #94d2bd 100%
  );
  border: 1px solid #e9d8a6;
  border-radius: 20px;
  height: 34px;
  width: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.for-content-btn-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: #d9d9d9;
  padding: 10px;
}

.for-landing-content-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  margin-top: 32px;
}

.landing-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.how-it-works-container-landing {
  background: linear-gradient(
    180deg,
    rgba(231, 215, 167, 0.25) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 50px;
  padding: 21px 99px 62px 99px;
}

.landing-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.landing-footer-text-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.landing-footer-img-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.landing-footer-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  color: #94d2bd;
  cursor: pointer;
}

@media only screen and (max-width: 1060px) {
  .landing-page-wrapper .landing-page-bg_image img {
    object-fit: cover;
  }
  .landing-page-wrapper .landing-page-body {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 525px) {
  .landing-page-wrapper .landing-page-body .landing-page-steps-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
  }
}
