.slider-content {
  display: flex;
  align-items: center;
  gap: 7px;
}

.creative-inspiration-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #1c1c1c;
  margin-bottom: 9px;
}

.campaign-slider-container {
  box-sizing: border-box;
  width: 274px;
  height: 336px;
  left: calc(50% - 274px / 2 + 516px);
  top: 195px;
  background: #ffffff;
  border: 1px solid #9fd0bd;
  border-radius: 6px;
  padding: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

.carousel-video {
  height: 281px;
  width: 180px;
  object-fit: initial;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 17px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 7%;
}
.carousel-wrapper {
  width: 227px;
}
.carousel-wrapper .active,
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
