.slider-content {
  display: flex;
  align-items: center;
  gap: 7px;
}

.creative-inspiration-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #409094;
}

.campaign-slider-container {
  box-sizing: border-box;
  height: 650px;
  width: 650px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 15px 30px;
  pointer-events: all;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.creative-inspiration-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.carousel-video {
  height: 281px;
  width: 180px;
  object-fit: initial;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 17px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3%;
}

.carousel-wrapper {
  margin-top: 20px;
  width: 100%;
}

.carousel-wrapper .active,
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  border: none;
  outline: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inspiration-clear-button {
  width: 185px;
  height: 34px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  background: linear-gradient(180deg, #9ECFBD 0%, #459396 100%);
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}

.invalid-inspiration-video {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #409094;
  justify-content: center;
  height: 528px;
}

.close-icon-inspiration {
  cursor: pointer;
}

.inspiration-video-iframe {
  height: 528px;
}

@media only screen and (max-width: 525px) {
  .campaign-slider-container {
    width: 358px;
    height: 600px;
  }

  .inspiration-video-iframe {
    height: 478px;
  }

  .close-icon-inspiration {
    display: none;
  }
}