.slider-content {
  display: flex;
  align-items: center;
  gap: 7px;
}

.creative-inspiration-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #1c1c1c;
  margin-bottom: 9px;
}

.campaign-slider-container {
  box-sizing: border-box;
  width: 274px;
  height: 336px;
  left: calc(50% - 274px / 2 + 516px);
  top: 195px;
  background: #ffffff;
  border: 1px solid #9fd0bd;
  border-radius: 6px;
  padding: 15px;
}

.cursor-pointer {
  cursor: pointer;
}
