.creator-stats-card-container {
  height: 112px;
  left: calc(50% - 274.25px / 2 - 336.88px);
  top: 73px;
  background: #ffffff;
  border: 1px solid #9fd0bd;
  border-radius: 6px;
  padding: 12px 6px 12px 15px;
  width: 100%;
}

.stats-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-label {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #001219;
}

.stats-count {
  /* font-family: "Comfortaa"; */
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #1c1c1c;
  margin: 16px 0px;
}

img {
  cursor: pointer;
}

.custom-tooltip {
  --bs-tooltip-bg: white;
  --bs-tooltip-color: black;
  --bs-tooltip-border-width: 2px;
  --bs-tooltip-border-color: yellow;
  border-width: 2px;
  border-color: yellow;
}

.custom-tooltip .tooltip-inner {
  max-width: 312px;
  border: 1px solid black;
}

.custom-tooltip .tooltip-arrow::before {
  border-left-color: black;
  border-right-color: black;
}

@media only screen and (max-width: 768px) {
  .custom-tooltip .tooltip-inner {
    max-width: 175px;
  }
}