table {
  width: 100%;
}

.table-header-bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table-header-label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #a1a1a1;
  width: 20%;
  padding: 2px 5px;
}

.table-header-label.campaign {
  width: 17.66%;
}

.table-header-label.campaign:nth-of-type(4) {
  width: 25.66%;
}

.table-header-label.campaign:nth-of-type(5) {
  width: 14.66%;
}

.table-header-label.campaign:nth-of-type(6) {
  width: 6.66%;
}

.table-description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #001219;
  width: 25%;
  padding: 2px 5px;
}

.table-description.campaign {
  width: 17.66%;
}

.table-description.campaign:nth-of-type(4) {
  width: 24.66%;
}

.table-description.campaign:nth-of-type(5) {
  width: 13.66%;
}

.table-description.campaign:nth-of-type(6) {
  width: 8.66%;
}

.centered {
  text-align: center;
}