.brand-table {
  width: 100%;
}

.brand-table-header-bottom-border {
  border-bottom: 1px solid #9fd0bd;
}

.brand-table-header-label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #a1a1a1;
  width: auto;
  padding: 2px 5px;
}

.brand-table-description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1c1c1c;
  width: auto;
  padding: 2px 5px;
}

.table-actions-container {
  display: flex;
  gap: 12px;
}

.add-brief-button {
  color: #fff;
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  background-color: #0A9396;
  border-radius: 40px;
  width: 240px;
  padding: 14px 24px;
}

.search-and-create-container {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 705px) {
  .add-brief-button {
    font-size: 12px;
    padding: 16px 16px;
  }
}
