@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'InterLight';
  src: url('../fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.otf');
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
