@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "InterLight";
  src: url("../fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.capitalized {
  text-transform: capitalize;
}

.cookies__banner {
  background: #d9d9d9;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 13px;
  width: 100%;
  margin: 0;
  position: fixed;
  bottom: 0;
  z-index: 5000;
}

.cookies__banner p {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  color: #041416;
  margin: 0;
}

.cookies__banner button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: #d9d9d9;
  border: 1px solid #000000;
  height: 46px;
  width: 156px;

  font-family: "Raleway";
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  color: #000000;
}
