.home-page-login-page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 45px 45px 0px 45px;
  background-color: #041416;
  min-height: 100vh;
}

.home-page-login-page-wrapper .home-page-login-page-bg_image {
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: #041416;
  min-height: 100vh;
}

.home-page-login-page-wrapper .home-page-login-page-container {
  display: flex;
  flex-direction: column;
}
.home-page-login-page-wrapper
  .home-page-login-page-container
  .home-page-login-page-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-page-login-page-wrapper
  .home-page-login-page-container
  .home-page-login-page-navbar
  .home-page-login-page-logo {
  width: 160px;
  height: 60px;
  display: flex;
}

.home-page-login-page-wrapper
  .home-page-login-page-container
  .home-page-login-page-navbar
  .home-page-login-page-menu-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 56px;
}
.home-page-login-page-wrapper
  .home-page-login-page-container
  .home-page-login-page-navbar
  .home-page-login-page-menu-header
  .home-page-login-page-menu {
  display: flex;
  flex-direction: row;
  gap: 28px;
}
.home-page-login-page-wrapper
  .home-page-login-page-container
  .home-page-login-page-navbar
  .home-page-login-page-menu-header
  .home-page-login-page-menu
  .home-page-login-page-menu-items {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #e9d8a6;
  text-transform: uppercase;
  cursor: pointer;
}

.home-page-login-page-wrapper
  .home-page-login-page-container
  .home-page-login-page-navbar
  .home-page-login-page-menu-header
  .home-page-login-page-menu
  .home-page-login-page-menu-items.btn-item {
  padding: 10px 20px;
  border-radius: 30px;
  color: black;
  background: #e5d7ad;
  pointer-events: all;
  user-select: all;
  font-weight: 700;
}

.home-page-login-page-wrapper
  .home-page-login-page-container
  .home-page-login-page-navbar
  .home-page-login-page-menu-header
  .home-page-login-page-socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 22px;
}

.home-page-login-page-wrapper
  .home-page-login-page-container
  .home-page-login-page-navbar
  .home-page-login-page-menu-header
  .home-page-login-page-socials-item {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-login-page-wrapper
  .home-page-login-page-container
  .home-page-login-page-navbar
  .home-page-login-page-menu-header
  .home-page-login-page-socials-item
  img {
  width: 100%;
  height: 100%;
}
.home-page-login-page-wrapper .home-page-login-page-body {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5%;
  max-width: 645px;
}

.home-page-login-page-wrapper
  .home-page-login-page-body
  .home-page-login-page-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #e9d8a6;
}
.home-page-login-page-wrapper
  .home-page-login-page-body
  .home-page-login-page-subtitle {
  font-family: 'Raleway';
  margin-top: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;

  color: #e9d8a6;
}

.home-page-login-content-container-gradient {
  background-image: url('../../../public/images/glass-image.svg');
  padding: 31px 45px 0px 35px;
  border-radius: 50px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  height: auto;
  background-size: cover;
}

.login-signup {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #041416;
  background: #e5d7ad;
  border: 1px solid #b6e6ad;
  border-radius: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.home-page-login-page-workBtn {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #e5d5a5;
}

.home-page-login-content-container {
  padding: 138px 98px 99px 93px;
}

.ask-us-anything {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-top: 20px;
  color: #e9d8a6;
}

.home-page-login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.home-page-login-footer-text-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.home-page-login-footer-img-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-page-login-footer-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 18px;
  color: #94d2bd;
  cursor: pointer;
}

.home-page-login-input-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #e9d8a6;
}

.home-page-login-input {
  border: none;
  border-bottom: 1px solid #e9d8a6;
  background-color: transparent;
  color: #e9d8a6;
  padding: 6px 8px;
  width: 100%;
}

.name .email .message {
  width: 100%;
}

.home-page-login-input::placeholder {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(233, 216, 166, 0.5);
}

.home-page-login-input:focus {
  outline: none;
}

.home-page-login-btn {
  background: #e5d7ad;
  border: 1px solid #b6e6ad;
  border-radius: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;
  width: 135px;
  padding: 12px 0px;
  color: #041416;
  text-transform: uppercase;
}

.home-page-login-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0px 40px 0px;
  cursor: pointer;
}

.home-page-login-menu {
  display: none;
}

.responsive-menu {
  display: none;
}

@media screen and (max-width: 440px) {
  .home-page-login-page-wrapper .home-page-login-page-bg_image {
    width: auto;
    background-color: #041416;
  }

  .home-page-login-union {
    display: none;
  }
  .home-page-login-page-wrapper {
    padding: 13px;
    background-color: #041416;
    width: auto;
  }

  .home-page-login-page-wrapper
    .home-page-login-page-container
    .home-page-login-page-navbar
    .home-page-login-page-menu-header {
    display: none;
  }

  .home-page-login-content-container-gradient {
    padding: 19px 25px 41px 25px;
  }

  .home-page-login-page-wrapper
    .home-page-login-page-body
    .home-page-login-page-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-transform: capitalize;
    color: #e9d8a6;
  }

  .home-page-login-page-wrapper
    .home-page-login-page-body
    .home-page-login-page-subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #e9d8a6;
  }

  .home-page-login-content-container {
    display: flex;
    flex-direction: column;
    padding: 60px 18px 30px 18px;
  }

  .home-page-login-footer-text-container {
    display: none;
  }

  .home-page-login-menu {
    display: block;
    position: absolute;
    left: 13.53%;
    right: 11.84%;
    top: 11.34%;
    bottom: 58.72%;
    height: fit-content;
    background: #001219;
    border: 1px solid #e9d8a6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }

  .home-page-login-menu-option {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #e9d8a6;
  }

  .home-page-login-menu-img {
    height: 20px;
    width: 20px;
  }

  .home-page-login-menu-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }

  .responsive-menu {
    display: block;
  }

  .home-page-login-menu-option-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
    padding: 32px 0px;
  }

  .home-page-login-page-wrapper .home-page-login-page-body {
    margin: 0px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
  }

  .home-page-login-btn-container {
    margin: 39px 0px 0px 0px;
  }
}
