.creator-profile-container {
  width: 100%;
  height: 338px;
  background: #ffffff;
  border: 1px solid #9fd0bd;
  border-radius: 6px;
  padding: 15px;
}

.creator-profile-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #001219;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
